@use "/src/sass/helpers/" as *;

.posters {
    width: 100%;
    height: fit-content;
    margin-block: rem(18);
    transition: 0.2s ease-in-out all;

    .poster {
        width: 100%;
        height: 100%;
        position: relative;

        &-img {
            height: rem(170);
            // width: rem(340);
            aspect-ratio: 21/9;
            max-width: rem(500);
            -o-object-fit: cover;
            object-fit: cover;
            object-position: center;
            border-radius: rem(10);
            border: 0.5px solid $clr-border-primary;
        }

        &-logo {
            position: absolute;
            max-width: rem(180);
            max-height: rem(120);
            left: rem(16);
            bottom: rem(12);
            object-fit: contain;
            filter: drop-shadow(rem(2) rem(2) rem(8) #111);
            -webkit-filter: drop-shadow(rem(2) rem(2) rem(8) #111);
        }
    }

    @include mq("tablet") {
        height: rem(146);
        margin-block: rem(18);

        .poster-img {
            height: 100%;
            width: rem(320);
        }
    }
}
