@use "/src/sass/helpers/" as *;

.button {
    @include row-center;
    position: relative;
    border-radius: rem(100);
    font-size: rem(14);
    background-color: $clr-bg-primary;
    cursor: pointer;
    transition: 0.1s all cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:focus-visible {
        outline: 1px solid $clr-primary;
    }

    .alert {
        position: absolute;
        right: 0;
        top: 0;
        padding: rem(2) rem(6);
        font-size: rem(10);
        font-weight: 700;
        background-color: $clr-primary;
        z-index: 200;
        border-radius: rem(100);
    }

    //Primary Storke Buttons like "Icon" "Filters"
    &--border {
        @include border;
    }

    //a Placeholder of Icons
    &--iconbox {
        @include row-center;
    }

    //Main Call To Action Button
    &--cta {
        padding-block: rem(12);
        padding-inline: rem(24);
        color: $clr-bg-primary;
        font-weight: 700;
        background-color: $clr-primary;

        &:hover {
            box-shadow: 0 0 1rem -0.125rem $clr-primary;
        }
    }

    //Links Like See More
    &--link {
        @include row-center;
        padding-block: rem(4);
        gap: rem(8);
        color: $clr-link;
        font-weight: 400;
        line-height: 1.1;
        border-radius: 0;

        &:hover {
            //icon
            svg path {
                stroke: $clr-link--active;
            }

            //text
            color: $clr-link--active;
        }

        &--underline {
            color: $clr-white;
            font-size: rem(15);
            border-bottom: 1px solid $clr-white;

            &:hover {
                color: $clr-primary;
                border-bottom: 1px solid $clr-primary;
            }
        }
    }

    //Button Like Actors And Secondry Actions
    &--stroke {
        padding-block: rem(10);
        padding-inline: rem(16);
        color: $clr-text-h6;
        font-weight: 500;
        background-color: $clr-bg-transparent;
        border: 1px solid $clr-border-secondry;

        &:hover {
            background-color: $clr-bg-trinary;
        }
    }

    @include mq("tablet") {
        font-size: rem(11);
    }
}

.hamburger-menu {
    @include row-center;
    width: rem(52);
    height: rem(52);
    position: relative;
    cursor: pointer;

    .line {
        width: rem(24);
        height: 2px;
        position: relative;
        top: 0.1em;

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $clr-icon;
            transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        //Bottom Line
        &::after {
            top: rem(4);
        }
        //Top Line
        &::before {
            top: rem(-4);
        }
    }

    &--closed {
        .line {
            &::after,
            &::before {
                top: 0;
                background-color: $clr-icon--active;
            }
            &::after {
                transform: rotate(45deg);
            }
            &::before {
                transform: rotate(135deg);
            }
        }
    }
}
