$clr-primary: hsla(180, 81%, 94%, 1);

$clr-border-primary: hsla(0, 0%, 10%, 1);
$clr-border-secondry: hsla(0, 0%, 16%, 1);
$clr-border--active: hsla(0, 0%, 30%, 1);

$clr-bg-primary: hsla(0, 0%, 2%, 1);
$clr-bg-secondry: hsla(0, 0%, 3%, 1);
$clr-bg-trinary: hsla(0, 0%, 6%, 1);
$clr-bg-transparent: hsla(0, 0%, 4%, 0.8);

$clr-text-h1: hsla(0, 0%, 100%, 1);
$clr-text-h2: hsla(0, 0%, 94%, 1);
$clr-text-h3: hsla(0, 0%, 90%, 1);
$clr-text-h4: hsla(0, 0%, 88%, 1);
$clr-text-h5: hsla(0, 0%, 88%, 1);
$clr-text-h6: hsla(0, 0%, 40%, 1);

$clr-text-p: hsla(0, 0%, 36%, 1);

$clr-link: hsla(0, 0%, 45%, 1);
$clr-link--active: hsla(0, 0%, 92%, 1);
$clr-nav: hsla(0, 0%, 30%, 1);
$clr-nav--active: hsla(0, 0%, 98%, 1);

$clr-placeholder: hsla(0, 0%, 48%, 1);

$clr-icon: hsla(0, 0%, 40%, 1);
$clr-icon--active: hsla(0, 0%, 100%, 1);
$clr-white: hsla(0, 0%, 100%, 1);

$clr-green: rgb(48, 235, 95);
$clr-red: rgb(235, 70, 48);
