@use "/src/sass/helpers" as *;

.side-menu {
    @include col;
    @include scroll-bar;
    position: relative;
    min-width: rem(264);
    height: 100dvh;
    padding-block: rem(20);
    border-right: 1px solid $clr-border-primary;
    background-color: $clr-bg-primary;
    box-shadow: 0.5rem 0 1.25rem $clr-bg-primary;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) all;
    z-index: 1001;

    &--closed {
        min-width: rem(68);
    }

    &-mobile {
        position: absolute;
        min-width: rem(230);
        translate: rem(-270);
        z-index: 1000;
        padding-top: rem(0);
        padding-bottom: rem(12);
        transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) all;
        scale: 1.2;

        &--open {
            translate: rem(-10) 0;
            scale: 1;
        }
    }

    //Menu Toggle Button
    .menu-toggle {
        position: absolute;
        right: -1em;
        top: 1.6em;

        //Icon
        svg {
            rotate: 90deg;
            transition: 0.2s 0.2s ease-in all;
        }

        //Menu When Is Closed
        &--closed {
            svg {
                rotate: -90deg;
            }
        }
    }
}
