@use "/src/sass/helpers/" as *;

.wrapper {
  // max-width: 100%;
  max-width: rem(500);
  max-height: rem(60);
  border-radius: 5em;

  &:hover,
  &:focus {
    border: 1px solid $clr-border--active;
  }

  a {
    border-radius: 50%;
  }

  .search {
    @include row-center;
    padding-block: 0.25rem;
    padding-inline: 0.375rem;
    padding-right: 1em;

    &-input {
      min-height: rem(52);
      width: 100%;
      margin-inline: rem(4);
      border-radius: 20em;
      font-size: rem(13);
      color: $clr-text-h3;
      background-color: $clr-bg-primary;
    }
  }
}

.search-bar {
  @include row-center;
  padding-inline: rem(18);
  height: rem(52);

  .input {
    padding-block: rem(16);
    font-size: rem(13);
    width: 100%;
    background-color: $clr-bg-primary;
    border-radius: 50%;
    color: $clr-text-h3;
    line-height: 1;
  }
}

.auto-complete {
  @include scroll-bar;
  max-height: rem(400);
  overflow-y: scroll;
  background-color: $clr-bg-primary;
  border: 1px solid $clr-border-primary;
  border-radius: rem(16);
  margin-top: 1rem;
  transition: 0.5s ease-in-out all;

  &-list {
    @include col;
    gap: rem(10);
    margin: rem(16);
  }

  &-item {
    padding: rem(4) rem(8);
    color: $clr-link;
    border-radius: rem(4);
    &:nth-child(odd) {
      background-color: $clr-bg-trinary;
    }

    &:hover {
      color: $clr-link--active;
    }
  }
}
