@use "/src/sass/helpers" as *;

.filter {
    @include row;
    height: 100%;

    .content {
        @include scroll-bar;
        overflow-y: scroll;
        padding: 1em;
        height: 100%;
        width: 100%;

        .movies {
            @include row;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1em;

            .skeletons {
                height: 100vh;
                margin: 0;

                div {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    height: 100%;

                    @include mq("tablet") {
                        grid-template-columns: repeat(3, 1fr);
                    }

                    @include mq("phone") {
                        grid-template-columns: repeat(1, 1fr);
                    }

                    span {
                        width: 100%;
                    }
                }
            }
        }
    }
}
