@use "/src/sass/helpers/" as *;

.series {
  @include col;
  width: rem(320);
  height: fit-content;
  min-height: 200px;
  margin-block: rem(8);
  border-radius: rem(14);
  overflow: hidden;

  .poster {
    @include row;
    width: 100%;
    height: rem(140);

    .img {
      width: 100%;
      object-fit: cover;
      border-radius: rem(10) rem(10) 0 0;
    }
  }

  .info {
    width: 100%;
    padding-block: rem(14);
    padding-inline: rem(18);

    .title {
      color: $clr-text-h4;
      font-size: rem(16);
      font-weight: 600;
      line-height: 1.1;

      &:hover {
        color: $clr-primary;
      }
    }
    .details {
      @include row-center--a;
      justify-content: space-between;
      width: 100%;

      .ep {
        @include row;
        gap: 0.3em;
        color: $clr-text-h6;
        font-size: rem(14);
        font-weight: 400;
      }
      .epName {
        color: $clr-text-h6;
        font-size: rem(14);
        font-weight: 700;
        line-height: 1.1;
      }
    }
  }
}
