@use "/src/sass/helpers/" as *;

.section-header {
    @include row;
    justify-content: space-between;
    width: 100%;

    .details {
        @include row-center;
        gap: rem(32);

        .title {
            color: $clr-text-h3;
            font-size: rem(24);
            font-weight: 600;
            line-height: 1.1;
        }
    }

    .arrows {
        @include row-center--a;
        gap: 1em;

        .arrow-prev {
            rotate: 90deg;
        }

        .arrow-next {
            rotate: -90deg;
        }
    }

    //breakpoint
    @include mq("tablet") {
        flex-direction: column;
        .arrows {
            display: none;
        }
        .details {
            justify-content: space-between;

            .title {
                font-size: rem(20);
            }
        }
    }
}
