@use "/src/sass/helpers/" as *;

.aside {
    position: relative;
    min-width: rem(340);
    height: 100%;

    &--closed {
        min-width: rem(16);

        .header,
        .cards {
            display: none;
        }
    }

    .aside-toggle {
        position: absolute;
        left: -1.3em;
        top: 1.1em;

        //Icon
        svg {
            rotate: -90deg;
            transition: 0.2s 0.1s ease-in all;
        }

        //Menu When Is Closed
        &--closed {
            svg {
                rotate: 90deg;
            }
        }
    }

    .header {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-inline: rem(16);
        margin-block: 1em;
        gap: 0;
    }

    .cards {
        @include scroll-bar;
        height: 100%;
        padding-inline: rem(8);
        padding-bottom: 5em;
        overflow-y: scroll;
    }
}
