@use "/src/sass/helpers/" as *;

.error {
    @include col;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/image/Background404.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: $clr-white;
    position: relative;
    text-align: center;

    .code {
        font-size: rem(240);
        font-weight: 800;
    }
    .code-info {
        position: relative;
        top: -3em;

        h3 {
            font-size: rem(32);
        }
        h4 {
            position: relative;
            font-size: rem(20);
            font-weight: 400;
            top: -0.3em;
        }
    }

    .bob {
        position: absolute;
        right: -2em;
        bottom: -3.7em;
        width: rem(100);

        &:hover {
            width: rem(800);
        }
    }

    @include mq("tablet") {
        .code {
            font-size: 40vw;
        }
        .code-info {
            h3 {
                font-size: rem(24);
            }
            h4 {
                font-size: rem(14);
            }
        }
    }
}

.error-text {
    @include col-center;
    width: fit-content;
    height: fit-content;
    background-color: $clr-bg-primary;
    border-radius: rem(14);
    margin: 1em 0;
    padding: 1.5em 2em;

    @include mq("phone-wide") {
        width: 100%;
    }

    .title {
        font-size: rem(20);
        color: $clr-text-h1;
        font-weight: 700;
    }

    .info {
        font-size: rem(18);
        color: $clr-primary;
        font-weight: 400;
        text-transform: capitalize;
    }
}

.search-error {
    @include col-center--a;
    justify-content: space-between;
    gap: rem(40);
    padding-top: rem(40);
    height: 100%;

    .content {
        text-align: center;
        .title {
            margin-bottom: rem(10);
            font-size: rem(48);
            color: $clr-text-h2;
            line-height: 1.2;
        }
        .sub-title {
            font-size: rem(20);
            color: $clr-text-p;
            line-height: 1.1;
        }
    }

    .background {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        background-repeat: repeat;
        animation: background 2000ms alternate infinite ease-in-out;
        scale: 1.1;

        @keyframes background {
            100% {
                scale: 1.11;
                translate: 1em;
            }
        }
    }

    @include mq("phone-wide") {
        .content {
            .title {
                margin-bottom: rem(8);
                font-size: rem(32);
            }
            .sub-title {
                font-size: rem(16);
            }
        }
        .background {
            height: 1vh;
        }
    }
}
